
/*     Responsiveness  */

@media (max-width:768px){

    html{
        font-size: 50%;
    }
    
    .header .fa-bars{
        display: block;
    }
    .header .navbar{
        position: fixed;
        top: -120%; left: 0;
        height: auto;
        width: 100%;
        background-color: #fff;
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }
    .header .navbar ul{
        height: 100%;
        width: 100%;
        flex-flow: column;
    }
    .header .navbar ul li{
        margin: 1rem 0;
    }
    .header .navbar ul li a{
        color: #444;
        font-size: 2.4rem;
    }
    .header .fa-times{
        transform: rotate(180deg);
    }
    .header .nav-toggle{
        top: 8%;
    }
    .home .banner{
        font-size: 4rem;
    }
    .home img{
        width: 20%;
    }
    .home .slogan{
        font-size: 2.5rem;
    }
    .about{
        min-height: 100vh;
    }
    .about .row{
        flex-flow: column-reverse;
        padding: 0 2rem;
    }
    .about .row .images img{
        width: 100vw;
    }
    .service .row{
        flex-flow: column-reverse;
    }
    .service .row:nth-child(even){
        flex-flow: column;
    }
    .service .row .images img{
        width: 100vw;
    }
    .service .row .content{
        padding: 0;
    }

    .faq{
        padding:0;
      }
    
      .faq .row{
        padding:0 1rem;
        flex-flow: column;
      }
    
      .faq .row .image img{
        width:100vw;
      }
    
      .faq .row .accordion-container{
        width:100%;
      }
      .contact .row{
        flex-flow: column;
      }
    
      .contact .row .image img{
        width: 100vw;
      }
    
      .contact .row .form-container{
        width: 100%;
        padding:0 1.5rem;
      }      
}    
@media (max-width:550px){
    .footer{
      flex-flow: column;
    }
    .footer h1{
      text-align: center;
    }
    .footer .icons{
      padding:2rem 0;
    }
}


/*     Responsiveness Ends */

